body {
  margin: 0;
  padding: 0;
  background-image: url('../img2.png');
  background-size:cover ;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: sans-serif;
  color: rgb(233, 123, 123);
  overflow: auto;
}
a {
  color: rgb(124, 116, 116);
  font-size: 14px;
}
#main {
  width: 100%;
}
#wrap {
  position: absolute;
  margin: 0 auto;
  width: 1100px;
  height: 680px;
  margin-top: 70px;
}
#text {
  width: 272px;
  height: 760px;
  left: 188px;
  top: 50px;
  position: absolute;
}
#code {
  display: none;
  color: rgb(0, 0, 0);
  font-size: 23px;
  margin-top: 40px;
  line-height: 25px;
  font-weight: bolder;
}
#clock-box {
  position: relative;
  left: 60px;
  top: 220px;
  font-size: 18px;
  display: block;
}
#clock-box a {
  font-size: 45px;
  text-decoration: none;
}
#clock {
  margin-top: 100;
  margin-left: 48px;
}
#clock .digit {
  font-size: 64px;
}
#canvas {
  margin: 0 auto;
  width: 1100px;
  height: 680px;
  position:absolute ;
  top:-380px;
}
#error {
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  display: none;
}
.hand {
  cursor: pointer;
}
.say {
  margin-left: 5px;
}
.space {
  margin-right: 10px;
}

#message-box{
  position: absolute;
  margin-top:-30px;
  font-size: 25px;
  font-family: monospace;

}